<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>adminLoginServlet</display-name>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>com.Admin.Controllers.adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>Online Event Planning System [EventNest]</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>updateAttendeeServlet</display-name>
    <servlet-name>updateAttendeeServlet</servlet-name>
    <servlet-class>com.Admin.AdminPortalContent.AttendeeSection.Controllers.updateAttendeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAttendeeServlet</servlet-name>
    <url-pattern>/updateAttendeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertAttendeeServlet</display-name>
    <servlet-name>insertAttendeeServlet</servlet-name>
    <servlet-class>com.Admin.AdminPortalContent.AttendeeSection.Controllers.insertAttendeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertAttendeeServlet</servlet-name>
    <url-pattern>/insertAttendeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAttendeeServlet</display-name>
    <servlet-name>deleteAttendeeServlet</servlet-name>
    <servlet-class>com.Admin.AdminPortalContent.AttendeeSection.Controllers.deleteAttendeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAttendeeServlet</servlet-name>
    <url-pattern>/deleteAttendeeServlet</url-pattern>
  </servlet-mapping>
</web-app>