<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>adminLoginServlet</display-name>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>com.Admin.Controllers.adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.Login.Controllers.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <display-name>Online Event Planning System [EventNest]</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>updateAttendeeServlet</display-name>
    <servlet-name>updateAttendeeServlet</servlet-name>
    <servlet-class>com.Admin.AdminPortalContent.AttendeeSection.Controllers.updateAttendeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAttendeeServlet</servlet-name>
    <url-pattern>/updateAttendeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertAttendeeServlet</display-name>
    <servlet-name>insertAttendeeServlet</servlet-name>
    <servlet-class>com.Admin.AdminPortalContent.AttendeeSection.Controllers.insertAttendeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertAttendeeServlet</servlet-name>
    <url-pattern>/insertAttendeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAttendeeServlet</display-name>
    <servlet-name>deleteAttendeeServlet</servlet-name>
    <servlet-class>com.Admin.AdminPortalContent.AttendeeSection.Controllers.deleteAttendeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAttendeeServlet</servlet-name>
    <url-pattern>/deleteAttendeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectAttendeeServlet</display-name>
    <servlet-name>selectAttendeeServlet</servlet-name>
    <servlet-class>com.Admin.AdminPortalContent.Event.Controllers.selectAttendeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectAttendeeServlet</servlet-name>
    <url-pattern>/selectAttendeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertReservationServlet</display-name>
    <servlet-name>insertReservationServlet</servlet-name>
    <servlet-class>com.Admin.AdminPortalContent.ServiceProvider.Controller.insertReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertReservationServlet</servlet-name>
    <url-pattern>/insertReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServiceProviderServlet</display-name>
    <servlet-name>updateServiceProviderServlet</servlet-name>
    <servlet-class>com.Admin.AdminPortalContent.ServiceProvider.Controller.updateServiceProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServiceProviderServlet</servlet-name>
    <url-pattern>/updateServiceProviderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServiceProviderServlet</display-name>
    <servlet-name>deleteServiceProviderServlet</servlet-name>
    <servlet-class>com.Admin.AdminPortalContent.ServiceProvider.Controller.deleteServiceProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServiceProviderServlet</servlet-name>
    <url-pattern>/deleteServiceProviderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBarServlet</display-name>
    <servlet-name>SearchBarServlet</servlet-name>
    <servlet-class>com.Home.SearchBar.Controller.SearchBarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBarServlet</servlet-name>
    <url-pattern>/SearchBarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteEventServlet</display-name>
    <servlet-name>deleteEventServlet</servlet-name>
    <servlet-class>com.eventPlanner.eventPlannerPortal.Controller.deleteEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEventServlet</servlet-name>
    <url-pattern>/deleteEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertEventServlet</display-name>
    <servlet-name>insertEventServlet</servlet-name>
    <servlet-class>com.eventPlanner.eventPlannerPortal.Controller.insertEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertEventServlet</servlet-name>
    <url-pattern>/insertEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEventServlet</display-name>
    <servlet-name>updateEventServlet</servlet-name>
    <servlet-class>com.eventPlanner.eventPlannerPortal.Controller.updateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEventServlet</servlet-name>
    <url-pattern>/updateEventServlet</url-pattern>
  </servlet-mapping>
</web-app>